

body,td,th {
	font-size: 14px;
	font-family: Arial, '宋体';
	color: #000;
}
body {
	background-color: #f3f2f1;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
/*	BACKGROUND: url(zjpjimg/bg_body.jpg) #DEEBF3 repeat-x 0px 0px; 蓝色背景*/
/* 	BACKGROUND: url(zjpjimg/bg-red.jpg) #FEF0D7 repeat-x 0px 0px;红色背景*/
/*	BACKGROUND: url(zjpjimg/bg-2e597b.jpg) #2e597b repeat-x 50% top; 梦幻蓝色背景*/
    word-break: break-all; /*任意字内断行*/
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

a {
	font-size: 14px;
	color: #000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #F00;
}
a:active {
	text-decoration: none;
	color: #F00;
}
/******************************************
font-size: 12px;超级链接字体大小
color:字体颜色
text-decoration: none;没有下画线.要有下画线.改none为underline
a 为统一超级链接,
a:link没有点击过的超级链接样式
a:visited 被点击过的超级链接样式
a:hover 鼠标指向时的超级链接样式
a:active 被用户激活(在鼠标点击与释放之间发生的事件)时的样式.少用
*******************************************/

/* li 开始*/
li{
list-style:none;
float:left;
width: 80px;
height:30px;
line-height:30px;
} 

.textli1 {
background-color:#b9282f;
color: #FFFFFF;
} 

/* li  结束*/

/* text01 开始*/
.text01 {
	color: #FF0000;
}
.text01 a {
	color: #FF0000;
}
.text01 a:link {
	text-decoration: none;
	color: #FF0000;
}
.text01 a:visited {
	text-decoration: none;
	color: #FF0000;
}
.text01 a:hover {
	text-decoration: underline;
	color: #FF0000;
}
.text01 a:active {
	text-decoration: none;
	color: #FF0000;
}


/* 分隔线 fgx 开始*/
.fgx {
width:100%;
height:5px;
}

